body {
    background-color: brown;
}

.lineThrough {
    text-decoration: line-through;
    color: red;
}

.task {
    border-bottom: 1px solid blue;
}

#main {
    width: 50%;
    margin: auto;
    background-color: white;
}