.product {
    display: inline-block;
    width: 100px;
    height: 200px;
    border: 1px solid black;
}

.product:hover {
    cursor: pointer;
}

img {
    width:  70px;

}

#main {
    display: flex;
    gap: 10px;
}