ul li:nth-child(2) {
    color: blue;
}
div:first-child li {
    text-transform: uppercase;
    font-weight: bold;
}
div:nth-child(2) p:first-child {
    background-color: pink;
    color: white;
}
div:nth-child(2) p:nth-child(3) {
    background-color: lightblue;
    margin: 50px;
    padding: 50px;
}
.square {
    display: inline-block;
    height: 200px;
    width: 200px;
}
#parent-box {
    background-color: lightgrey;
    height:240px;
}
#blue-square {
    background-color: lightskyblue;
    position: relative;
    left: 5px;
    top: 5px;
}
#orange-square {
    background-color: orange;
    position: relative;
    left: -195px;
    top: 10px;
}