nav, footer {
    background-color: black;
    height: 70px;
    position: relative;
    color: white;
}
nav .menu{
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.menu a:last-child {
    text-transform: uppercase;
    margin-left: 30px;
}

nav > span {
    /* transform: scale(2.5); */
    margin: 10px 30px;
    font-size: 50px;
}
footer p {
    position: relative;
    top: 20px;
    left: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 96;
  font-size: 48px;
}
