.leveledit {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
    /* width: 60vw; */
}
.mainpicdiv {
    /* width : 300px; */
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    grid-column-start: 2;
    grid-column-end: 9;
    margin-bottom: 15px;
}

label {
    display: block;
}

.main-form {
    /* border: 1px solid black; */
    /* width: 60vw; */
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    grid-column-start: 2;
    grid-column-end: 9;
    margin-bottom: 15px;
}

.form-part {
    border-radius: 5px;
    padding : 20px;
    background-color: rgb(213, 213, 32);
    margin-bottom: 20px;
}
textarea {
    width: 100%;
}

input[type=text] {
    width: 100%;
}

.delBtn {
    grid-column-start: 7;
    grid-column-end: 9;
    background-color: red;
}
button {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.editBtn {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: yellow;
}

.delimage {
    padding: 3px;
}
@media only screen and (max-width: 600px) {
    .leveledit {
        grid-template-columns: repeat(9, 1fr);
    }
}