*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 16vmin;
    width: 16vmin;
    background-color: yellow;
    border: 1px solid black;

}
body {
    display: flex;
    justify-content: space-between;
    width: 98vw;
    margin: auto;
}

.leftside, .rigthside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vmin;
}

.middle {
    display: flex;
    /* gap: 80px; */
    align-items: center;
    padding: 0px;
    justify-content: space-around;
    width: calc(100vw - 32vmin);
}